# Admin dashboard login only (not for customers)
ADMINUSERNAME=admin
ADMINPASS=your-secure-password

# MongoDB
MONGODB_URI=your-mongodb-connection-string
BDNAME=nexa_e-commerce

# ImageKit
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
